@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

.btn-primary {
  @apply w-48 h-16 rounded-lg text-xl text-white
}

.btn-primary {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
}

.active {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}



.default {
  color: #757575;
}

.background {
  background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}